/* # Site Header
---------------------------------------------------------------------------------------------------- */


.site-header {
  background-color: #fff;
  max-height: 255px;
  overflow: auto;
}

.site-header > .wrap {
  padding: 0 20px;
}